{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block content %}


<div class='bg-login-register container-fluid'>
    <div class="h-100 d-flex row justify-content-center align-items-center">
        <div class="col-xs-10 about">
            <h2 class="heading-form text-center">About us</h2>
            <div class="login-register login-f  mx-auto">
                <h6>TreeBooks is a small charity founded in October 2018 and our mission is to raise money to help
                    reforest
                    our planet.</h6>

                <h4>How we do it?</h4>

                <p>We collect second hand books that people donate and then we rent them for a small fee in order to
                    raise
                    money.
                    The money collected is then used to help in <a href="{% url 'projects' %}">reforestation
                        projects</a>.
                </p>


                <h4>How can you collaborate?</h4>
                <ul>
                    <li>By reading second hand books you are reducing the number of trees that are cut to create new
                        books.
                    </li>

                    <li>By rent our book instead of buying a brand new ones your money will be used to reforest the
                        planet.</li>

                    <li>You can also <a href="{% url 'donate' %}">donate</a> your second hand books to help us
                        growing the collection of books so we can offer more choice to our members. <a
                            href="{% url 'donate' %}">(See our
                            collection points)</a></li>

                    <li>Spread the word and help us get more members. More member reading our books means less trees
                        being
                        cut.</li>
                </ul>

                <h4>How it works?</h4>
                <ul>
                    <li>As a member you can rent our books for the the number of days that you want. And the final rent
                        price will be based on the number of days selected.</li>
                    <li>The minimun time that we rent the books for is 10 days (but you can always return it earlier
                        if you want).</li>
                    <li>We know you will retun the book when it is due but we need to keep a £5 deposit per book just in
                        case the book is not returned. The deposit will be rufunded once the book is
                        returned.</li>
                </ul>

                <h4>More member benefits...</h4>
                <ul>
                    <li>As a member you can see the book reviews given by other members.</li>
                    <li>You can join the waiting list for books that are not available and you will be able
                        to see what is your order in the waiting lists.</li>
                    <li>You can save the books you like in your favourites list.</li>
                    <li>And you can keep track of all the books you have read from TreeBooks.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock%}