{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block content %}

<p>TreeBooks is a small charity and out mission is to raise money to help reforest our planet.</p>

<h3>How we do it?</h3>

<p>We collect second hand books that people donate and then we rent them for a small fee in order to raise money. 
The money collected is then used to help in <a href="{% url 'projects' %}">reforestation projects</a>.</p>


<h3>How can you collaborate?</h3>

<p>By reading second hand books you are reducing the number of trees that are cut to create new books.</p>

<p>By paying us to rent a book instead of buying a brand new book you are contributing to reforest the planet.</p>

<p>You can also <a href="{% url 'donate' %}">donate</a> your second hand books to help us growing the collection and offer more choice to our members. (See our collection points)</p>

<p>Spread the word and help us get more members. More member reading our books means less trees being cut.</p>

{% endblock%}