{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block content %}

<div class='container-fluid'>
    <div class="d-flex row justify-content-center align-items-center about-projects-donate">
        <div class="col-xs-10 about">
            <h2 class="headers_all text-center">About us</h2>
            <div class="box-content mx-auto">
                <p>
                    TreeBooks is a small charity founded in November 2018 and our mission is to raise money to help reforest our planet.
                </p>

                <h4>How we do it?</h4>
                <p>
                    We collect second-hand books that people donate and then we rent them for a small fee to raise money. 
                    The money collected is then used to collaborate with
                    <a href="{% url 'projects' %}">reforestation projects</a>.
                </p>

                <h4>Collaborate by becoming a member!</h4>
                <ul>
                    <li>
                        By becoming a member and reading second-hand books you are reducing the number of trees that are cut down to create new books.
                    </li>
                    <li>
                        Our books are much cheaper than brand new books and the money you pay is invested in a good cause.
                    </li>
                    <li>
                        You can also <a href="{% url 'donate' %}">donate</a> your second-hand books to help us grow the collection of books so we can offer more choice to our members.
                        <a href="{% url 'donate' %}">(See our collection points)</a>
                    </li>
                </ul>

                <h4>More benefits for our members...</h4>
                <ul>
                    <li>
                        As a member, you can see the book reviews given by other members.
                    </li>
                    <li>
                        You can join and see your position in the waiting list for books that are not available.
                    </li>
                    <li>
                        You can save the books you like on your favourites list.
                    </li>
                    <li>
                        And you can keep track of all the books you have read from TreeBooks.
                    </li>
                </ul>

                <h4>How it works?</h4>
                <ul>
                    <li>
                        As a member, you can rent our books for the number of days that you want. 
                        And the final rental price will be based on the number of days selected.
                    </li>
                    <li>
                        Once the payment is processed you can collect the books from our store.                    
                    </li>
                    <li>
                        The minimum number of days for renting books for is 10 days (but you can always return them earlier if you want).
                    </li>
                    <li>
                        Once you have returned the book to our store you will need to go to your profile and click the button 
                        "I've returned the book" so it will appear as available immediately for other users who may want to read it.
                    </li>
                    <li>
                        We know you will return the book when it is due but we need to keep a £5 deposit per book just in case the book is not returned. 
                        The deposit will be refunded once the book is returned.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock%}