{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}

{% block title %}Contact us{% endblock %}

{% block content %}

<div class="contact-us">
    <div class='bg-login-register'>
        <div class="h-100 d-flex row justify-content-center align-items-center text-center">
            <div class="col-xs-6">
                <div class="circle-shape">
                    <h2 class="heading-form">Contact us</h2>

                    <form class="login-register login-f  mx-auto" method="POST">
                        {% csrf_token %}
                        {{ contact_form | as_bootstrap}}
                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock%}