{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}

{% block title %}Contact us{% endblock %}

{% block content %}

<div class='d-flex align-items-center justify-content-center contact-us'>
    <div class="d-flex row text-center">
        <div class="col-xs-6">
            <div class="circle-shape">
                <h2 class="headers_all">Contact us</h2>

                <form class="box-content   mx-auto" method="POST">
                    {% csrf_token %}
                    {{ contact_form | as_bootstrap}}
                    <button type="submit" class="btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock%}