{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Donate{% endblock %}

{% block content %}

<h2>Donate your books</h2>
<p>We have several collections points all over London.</p>

<p>If you want to donate a book just find the one that is most convenient for you and bring us your book.</p>

<p>See all our collections points below:</p>



Collection point 1

Collection point 2

Collection point 3

Collection point 4

Collection point 5

Collection point 6


<div class='bg-login-register container-fluid projects'>
    <div class="h-100 d-flex row justify-content-center align-items-center">
        <div class="col-xs-10 about">
            <h2 class="heading-form text-center">Donate your books</h2>
            <div class="login-register login-f  mx-auto">
                <p>We have several collections points all over London.</p>

                <p>If you want to donate a book just find the one that is most convenient for you and bring us your
                    book.</p>


                <h4>See all our collections points below:</h4>
                <ul>
                    <li class="row align-items-center justify-content-center">
                        <div class="col-12 col-md-6 text-md-center">
                            <a>Collection point 1</a>
                            <p>Street A, number 1</p>
                        </div>
                        <img class="col-12 col-md-6" src="{% static 'images/project/reforestation3.jpg' %}">
                    </li>
                    <hr>
                    <li class="row align-items-center justify-content-center">
                        <img class="order-2 order-md-1 col-12 col-md-6"
                            src="{% static 'images/project/reforestation1.jpg' %}">
                        <div class="order-1 order-md-2 col-12 col-md-6 text-md-center">
                            <a>Collection point 2</a>
                            <p>Street B, number 2</p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock%}