{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Projects{% endblock %}

{% block content %}


<div class='container-fluid projects'>
    <div class="h-100 d-flex row justify-content-center align-items-center about-projects-donate">
        <div class="col-xs-10 about">
            <h2 class="headers_all text-center">Our projects</h2>
            <div class="login-register wrapper1  mx-auto">
                <p>We have only been active since the 1st October of 2019 and since then we have collected
                    <strong>{{raised.number_books}}</strong> books
                    from donations and we have raised <strong>£{{raised.money_raised}}</strong> renting books.</p>


                <p>Right now we are raising money for these projects:</p>
                {% for project in projects %}
                <ul>
                    {% if forloop.counter0|divisibleby:2 %}
                    <li class="row align-items-center justify-content-center">
                        <div class="col-12 col-md-6 text-md-center">
                            <h5><a class="text-success" target="_blank"
                                    href="{{ project.link_project }}">{{ project.name }}</a></h5>
                            <h4>£{{ project.target }}</h4>
                        </div>
                        <img class="col-12 col-md-6" src="{{ MEDIA_URL }}{{ project.image }}">
                    </li>
                    {% else %}
                    <hr>
                    <li class="row align-items-center justify-content-center">
                        <img class="order-2 order-md-1 col-12 col-md-6" src="{{ MEDIA_URL }}{{ project.image }}">
                        <div class="order-1 order-md-2 col-12 col-md-6 text-md-center">

                            <h5><a class="text-success" target="_blank"
                                    href="{{ project.link_project }}">{{ project.name }}</a>
                            </h5>
                            <h4>£{{ project.target }}</h4>
                        </div>
                    </li>
                    {% endif %}

                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock%}