notas.txt
env.py
vir_env/
.vscode/
*.sqlite3
__pycache__
*.pyc
links.txt
htmlcov
.coverage
books/templates/gridbt4.html
my_project.dot
checklist.xlsx
my_project.dot
staticfiles/
others
treebokks notes.txt
