certifi==2019.9.11
chardet==3.0.4
coverage==4.5.4
dj-database-url==0.5.0
Django==1.11.17
django-extensions==2.2.5
django-forms-bootstrap==3.1.0
idna==2.8
Pillow==6.1.0
psycopg2==2.8.4
pydot==1.4.1
pyparsing==2.4.2
pytz==2019.2
requests==2.22.0
six==1.12.0
stripe==2.37.1
urllib3==1.25.6
