{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Passoword Reset Page{% endblock %}

{% block content %}
<div class='bg-login-register'>
    <div class="h-100 d-flex row justify-content-center align-items-center text-center">
        <div class="col-xs-6">
            <div class="circle-shape pwd-reset-sent text-center mx-auto">
                <h2>Password reset sent</h2>
                <p>We've emailed you instructions for setting your password, if an account exists with the email you
                    entered. You should
                    receive them shortly.<br> If you don't receive an email, please make sure you've entered the address
                    you registered with, and
                    check your spam
                    folder.</p>
            </div>
        </div>
    </div>
</div>
{% endblock%}