{% extends 'base.html' %}

{% load bootstrap_tags %}

<!-- {% load staticfiles %} -->

{% block title %}Update password{% endblock %}

{% block content %}

<div class="d-flex row justify-content-center align-items-center text-center">
    <div class="col-xs-6">
        <div class="circle-shape pwd-reset-conf">
            <h2 class="headers_all">Update your password</h2>

            <form class="box-content mx-auto" method="POST">
                {% csrf_token %}
                {{ form.email.errors }}
                {{form | as_bootstrap}}
                <button type="submit" class="btn btn-default">Change my password</button>
            </form>
        </div>
    </div>
</div>

{% endblock%}