{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Passoword Reset Page{% endblock %}

{% block content %}
<div class="d-flex row justify-content-center align-items-center text-center">
    <div class="col-xs-6">
        <div class="circle-shape">
            <h2 class="headers_all">Reset Password</h2>

            <form class="login-register password-reset wrapper1  mx-auto" method="POST">
                {% csrf_token %}
                {{ form.email.errors }}
                <label for="id_email">Enter your email:</label>
                {{ form.email }}
                <button type="submit" class="btn btn-default">Reset password</button>

            </form>
        </div>
    </div>
</div>
{% endblock%}