{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}

{% block title %}{{user}}'s Profile{% endblock %}

{% block content %}

<div class='container-fluid waiting_list'>
    <div class="d-flex row justify-content-center align-items-center">
        <div class="col-xs-10 about">
            {% with waiting_list|first as first_waiting_list %}
            <h2 class="headers_all text-center"><small>waiting list for</small><br>{{ first_waiting_list.wl_book }}
            </h2>
            {% endwith %}

            <div class="login-register wrapper1  mx-auto">
                <!-- https://stackoverflow.com/questions/3829758/can-i-access-attributes-of-the-first-object-in-a-list-in-django-templates -->

                <ol>
                    {% for list in waiting_list %}

                    {% for waiting_user in list.wl_user.all %}
                    <li>{{ waiting_user }}</li>
                    {% endfor %}

                    {% endfor %}
                </ol>
                {% endblock %}

            </div>
        </div>
    </div>
</div>