{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}

{% block title %}Waiting list{% endblock %}

{% block content %}

<div class='container-fluid waiting_list'>
    <div class="d-flex row justify-content-center align-items-center">
        <div class="col-xs-10">
            <!-- https://stackoverflow.com/questions/3829758/can-i-access-attributes-of-the-first-object-in-a-list-in-django-templates -->
            {% with waiting_list|first as first_waiting_list %}
                <!-- if there are users in the waiting list -->
                {% if first_waiting_list.wl_user.all %}
                    <h2 class="headers_all text-center"><small>Waiting list for</small><br>{{ first_waiting_list.wl_book.title}}</h2>
                {% else %}
                    <h2 class="headers_all text-center"><small>You could be next!</small> </h2>
                {% endif %}
            {% endwith %}

            <div class="box-content wrapper1  mx-auto">
                <ol>
                    {% with waiting_list|first as first_waiting_list %}
                        <!-- if there are users in the waiting list -->
                        {% if first_waiting_list.wl_user.all %}
                            {% for waiting_user in first_waiting_list.wl_user.all %}
                                <li>{{ waiting_user }}</li>
                            {% endfor %}
                        {% else %}
                        <li class="empty-list"><h5 class="empty text-center alert alert-info">There is no one waiting!</h5></li>
                        {% endif %}
                    {% endwith %}
                </ol>

                {% with waiting_list|first as first_waiting_list %}
                    <div class="row justify-content-center text-center">
                        <div class="col-10">
                            <a class="btn" href='{% url 'view_all_books' %}'>Keep looking</a>
                            <a class="btn" href='{% url 'detail' first_waiting_list.wl_book.id %}'>Go to book</a>
                        </div>
                    </div>
                {% endwith %}

            </div>
        </div>
    </div>
</div>

{% endblock %}