{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}


{% block title %}Books{% endblock %}

{% block content %}

<div class="container-fluid allbooks">
    {% for category in categories %}

    <h2 class="headers_all">{{ category.name }}</h2>
    <hr>

    <div class="row categories-row mx-auto book-columns">
        {% for book in books %}
        {% if category.name == book.category.name %}


        <div class="col-12 col-sm-6 col-md-4 col-lg-3">

            <figure class="card card-product">


                <form class="text-right fav-form" method="POST" action={% url 'add_remove_favourites' book.id %}>
                    {% csrf_token %}
                    <button type="submit">
                        {% if book in user.profile.favourites.all %}
                        <h3 class="favorited text-right"><i class="fa fa-heart"></i></h3>
                        {% else %}
                        <h3 class="favorite text-right"><i class="fa fa-heart"></i></h3>
                        {% endif %}
                    </button>
                </form>

                <a href="{% url 'detail' book.id %}">

                    <h5 class="title"> {{ book.title }}</h5>
                </a>
                <div class="img-wrap"><img src="{{ MEDIA_URL }}{{ book.book_img }}"></div>

                <figcaption class="info-wrap">
                    <div class="label-rating"><strong>{{book.rating}}</strong></div>
                    <div class="rating-wrap">

                        <ul class="rating-stars">
                            <li style="width:{{book.percentage_rating}}%" class="stars-active">
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i>
                            </li>
                        </ul>

                    </div> <!-- rating-wrap.// -->
                </figcaption>
                <div class="bottom-wrap text-left">
                    <a href="{% url 'detail' book.id %}" class="btn btn-sm btn-primary float-right">More</a>
                    <div>
                        <h5> <span class="price-new">{{ book.price_day }}<small>/day</small></span>
                        </h5>
                    </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div> <!-- col // -->
        {% endif %}
        {% endfor %}
    </div>

    {% empty %}

    <h4 class="empty-cart text-center alert alert-info" role="alert">We didn't find any book.</h4>

    {% endfor %}


</div>

{% endblock %}