{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}


{% block title %}Books{% endblock %}

{% block content %}
<ul class="details text-center">
    {% for book in books %}


    <li>
        {{ book.title }}
        <div class="profile" style="background-image: url('{{ MEDIA_URL }}{{ book.book_img }}')">
        </div>

        Rating: {{ book.rating }}<br>

        Price: {{ book.price_day }}
        <a class="btn btn-default" href="{% url 'detail' book.id %}">More</a><br>


    </li>
    {% empty %}
    We didn't find any books or authors matching your seach criteria
    {% endfor %}


    {% endblock%}