{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}


{% block title %}Detail{% endblock %}

{% block content %}

<div class="container-fluid detail-profile-wrapper">
    <div class="row">
        <div class="col content-area">
            <div class="container detail-profile mx-auto">
                <div class="header-content row d-flex">
                    <div class="col-12 ">
                        <h2 class="headers_all">{{ book.title }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="first-column col-xs-12 col-md-5">
                        <div class="container justify-content-center">
                            <div class="row">
                                <div class="col text-center">
                                    <div class="rating-wrap">
                                        <ul class="rating-stars">
                                            <li style="width:{{book.percentage_rating}}%" class="stars-active">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <div class="label-rating"><strong>{{ book.rating }}</strong> </div>
                                        {% if user.is_authenticated %}
                                        <div><a href="#reviews_section">({{book.total_number_reviews}}) See reviews</a>
                                        </div>
                                        {% endif %}

                                    </div> <!-- rating-wrap.// -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <div> <img class="img-fluid" src="{{ MEDIA_URL }}{{ book.book_img }}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-7 second-column">
                        <div class="container justify-content-center">
                            <div class="row">
                                <div class="col">
                                    <form class="text-right fav-form" method="POST"
                                        action={% url 'add_remove_favourites' book.id %}>
                                        {% csrf_token %}
                                        <button type="submit">
                                            {% if book in user.profile.favourites.all %}
                                            <h3 class="favorited text-right"><i class="fa fa-heart"></i></h3>
                                            {% else %}
                                            <h3 class="favorite text-right"><i class="fa fa-heart"></i></h3>
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">

                                    <h3 class="title mb-3"><a href='{{ book.author.url_wiki}}'
                                            target="_blank"><small>By</small>
                                            {{ book.author }}</a></h3>
                                    <dl>
                                        <dt>Summary</dt>
                                        <dd>
                                            <p class="text-justify">{{ book.summary }}</p>

                                        </dd>
                                    </dl>
                                    <dl class="row">

                                        <dt class="col-5">Category</dt>
                                        <dd class="col-7">{{ book.category.name }}</dd>

                                        <dt class="col-5">Publication Date</dt>
                                        <dd class="col-7">{{ book.publication_date }}</dd>

                                        <dt class="col-5">ISBN#</dt>
                                        <dd class="col-7">{{ book.isbn }}</dd>

                                    </dl>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-5 shape shadow1" data-toggle="modal" data-target="#modalStores">
                        <img src={% static 'images/project/store.png' %}>
                        <h3>{{ book.store }}</h3>
                    </div>
                    <div class="col-sm-12 col-md-5 shape shadow2">
                        <img src={% static 'images/project/timer.png' %}>
                        <h3>{{ book.pages }} pages</h3>
                    </div>
                    <div class="col-sm-12 col-md-5 shape shadow3">
                        <img src={% static 'images/project/book.png' %}>
                        <h3>{{ book.format_book}}</h3>
                    </div>
                </div>
                <hr>



                <!-- user registered and book available -->
                {% if user.is_authenticated and book.available%}

                <!-- if there is waiting list -->
                {% if waiting_list_users %}

                {% for users_waiting in waiting_list_users %}
                <!-- for the first user in the waiting list -->
                {% if forloop.first %}
                {% for next in users_waiting.wl_user.all %}
                <!-- if the current user is the next in the list -->
                {% if next == user %}
                <div class="container price-section text-center">
                    <div class="row justify-content-center">

                        <div class="col-10 col-sm-5 available">
                            <h4>AVAILABLE</h4>
                        </div>
                        <div class="col-10 col-sm-6 ">
                            <var class="price h3 float-sm-right">
                                <span class="currency">£</span><span class="num">{{ book.price_day }}<small>/per
                                        day</small></span>
                            </var>
                        </div>
                    </div>
                </div>
                <!-- <div class="container add-days"> -->
                <div class="container">

                    <div class="row justify-content-center align-items-start">
                        <div class="col-10 col-md-7">
                            <p>Select the number of days that you want to rent the book for:<br>
                                <small>*The minimun number of days to rent any book is 10.</small>
                            </p>


                        </div>
                        <div class="col-10 col-md-4">
                            <form class="justify-content-center" method="post" action="{% url 'add_to_cart' book.id %}">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input name="days" type="number" min="10" max="999" class="form-control" value="10"
                                        required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Add to cart</button>
                                    </span>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                {% else %}

                <div class="container waiting-section last-row">
                    <div class="row justify-content-center">
                        <div class="col-8">

                            {% if waiting_list %}
                            {% for wl in waiting_list %}

                            {% for userinlist in wl.wl_user.all %}
                            {% if userinlist == user %}

                            <h4 class="empty-cart text-center alert alert-info" role="alert">You are in the waiting list
                                <a href="{% url 'view_waiting_lists' book.id %}">(see the list)</a>
                            </h4>

                            {% endif%}
                            {% endfor %}
                            {% endfor %}

                            {% else %}
                            <form class="text-center fav-form" method="POST"
                                action={% url 'join_waiting_list' book.id %}>
                                {% csrf_token %}
                                <button type="submit">
                                    <h5 class="text-center btn btn-warning buttons_all">Join the waiting list</h5>
                                    <a href="{% url 'view_waiting_lists' book.id %}">(see the list)</a>
                                </button>
                            </form>

                            {% endif %}
                        </div>
                    </div>
                </div>

                {% endif %}

                {% endfor %}
                {% endif %}
                {% endfor%}

                <!-- if there is not waiting list -->
                {% else %}


                <div class="container price-section text-center">
                    <div class="row justify-content-center">

                        <div class="col-10 col-sm-5 available">
                            <h4>AVAILABLE</h4>
                        </div>
                        <div class="col-10 col-sm-6 ">
                            <var class="price h3 float-sm-right">
                                <span class="currency">£</span><span class="num">{{ book.price_day }}<small>/per
                                        day</small></span>
                            </var>
                        </div>
                    </div>
                </div>
                <!-- <div class="container add-days"> -->
                <div class="container">

                    <div class="row justify-content-center align-items-start">
                        <div class="col-10 col-md-7">
                            <p>Select the number of days that you want to rent the book for:<br>
                                <small>*The minimun number of days to rent any book is 10.</small>
                            </p>


                        </div>
                        <div class="col-10 col-md-4">
                            <form class="justify-content-center" method="post" action="{% url 'add_to_cart' book.id %}">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input name="days" type="number" min="10" max="999" class="form-control" value="10"
                                        required>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Add to cart</button>
                                    </span>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>



                {% endif %}


                {% elif user.is_authenticated and not book.available %}


                <div class="container waiting-section last-row">
                    <div class="row justify-content-center">
                        <div class="col-8">

                            {% if waiting_list %}

                            {% for wl in waiting_list %}

                            {% for userinlist in wl.wl_user.all %}
                            {% if userinlist == user %}


                            <h4 class="empty-cart text-center alert alert-info" role="alert">You are in the waiting list
                                <a href="{% url 'view_waiting_lists' book.id %}" target="_blank">(see the list)</a>
                            </h4>

                            {% endif%}
                            {% endfor %}
                            {% endfor %}

                            {% else %}
                            <form class="text-center fav-form" method="POST"
                                action={% url 'join_waiting_list' book.id %}>
                                {% csrf_token %}
                                <button type="submit">
                                    <h5 class="text-center btn btn-warning buttons_all">Join the waiting list</h5>
                                    <a href="{% url 'view_waiting_lists' book.id %}">(see the list)</a>
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>



                {% else %}


                <div class="row detail-register justify-content-center text-center">
                    <div class="col-11">

                        <a class="btn btn-warning buttons_all" href="{% url 'registration' %}">
                            Register to rent this book</a>

                    </div>
                </div>

                {% endif %}


                {% if user.is_authenticated %}


                {% if reviews %}
                <hr>
                <div id="reviews_section">
                    <h3 class="text-center">Reviews</h3>
                    <div class="row justify-content-center">
                        {% for review in reviews %}
                        <div class="col-11">
                            <div class="media">
                                <img src="{{ MEDIA_URL }}{{review.review_author.profile.profile_img}}"
                                    alt="user profile image" width="60">
                                <div class="media-body">


                                    <div class="rating-wrap text-right">
                                        <ul class="rating-stars">
                                            <li style="width:{{review.percentage_score}}%" class="stars-active">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <h5 class="mt-0 text-left"> {{ review.review_title }}</h5>
                                    </div> <!-- rating-wrap.// -->
                                    <blockquote>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>{{ review.comment }}<i
                                            class="fa fa-quote-right" aria-hidden="true"></i>
                                    </blockquote>

                                    <p class="text-right"><small>{{ review.review_author }} -
                                            {{ review.review_date|date:"d M, Y" }}</small></p>
                                </div>
                            </div>

                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endif %}

            </div>

        </div>
    </div>
</div>


<!-- Modal Favourites-->
<div class="modal fade" id="modalStores" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLongTitle">Collect & Return at {{book.store.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <b>{{ book.store.street }}</b>, London<br><br>

                <iframe src="{{book.store.map_store}}" width="250" height="150" frameborder="0" style="border:0;"
                    allowfullscreen=""></iframe>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock%}