{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}


{% block title %}Detail{% endblock %}

{% block content %}
<div>

    title:{{ book.title }}<br>
    Views:{{ book.views }}<br>
    By:{{ book.author }}<br>
    Category:{{ book.category }}<br>
    Rating:{{ book.rating }}<br>

    <div class="profile" style="background-image: url('{{ MEDIA_URL }}{{ book.book_img }}')">
    </div>
    ISBN:{{ book.ISBN }}<br>
    Publication date: {{ book.publication_date }}<br>
    Summary:{{ book.summary }}<br>
    Format: {{ book.format_book }}<br>
    Price/day:{{ book.price_day }}<br>
    Pages:{{ book.pages }}<br>
    Average days needed to read it:{{ book.avg_days }}<br>
    Language:{{ book.language_book }}<br>
    Price / day: {{ book.price_day }}<br>

    {% if user.is_authenticated %}
    *The minimun number of days to rent any book is 10.
    On average people reads "{{book.title}}" this book on {{book.avg_days}} days
    <form method="post" action="{% url 'add_to_cart' book.id %}">
        {% csrf_token %}
        <div class="input-group">
            <input name="days" type="number" min="1" max="999" class="form-control"
                placeholder="type here the number of days you want to rent the book for">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Add to cart</button>
            </span>
        </div>
    </form>
    {% else %}
    <a class="btn btn-success" href="{% url 'registration' %}">Register to be able to rent this book</a>
    {% endif %}

</div>

{% endblock%}