{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}


{% block title %}Detail{% endblock %}

{% block content %}
<uL>

    <li>
        {{ book.title }}
        {{ book.author }}
        {{ book.category }}
        {{ book.rating }}

        <div class="profile" style="background-image: url('{{ MEDIA_URL }}{{ book.book_img }}')">
        </div>
        {{ book.ISBN }}
        {{ book.publication_date }}
        {{ book.summary }}
        {{ book.format_book }}
        {{ book.price_day }}
        {{ book.pages }}
        {{ book.avg_days }}
        {{ book.language_book }}
    </li>


    </>

    {% endblock%}