{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block content %}

<div class='bg-login-register'>
    <div class="d-flex row justify-content-center align-items-center text-center">
        <div class="col-xs-6">
            <div class="circle-shape">
                <h2 class="heading-form">Log in</h2>
                <form class="login-register login-f  mx-auto" method="POST">
                    {% csrf_token %}
                    {{ login_form | as_bootstrap}}
                    <button type="submit" class="btn">Login</button>
                    <p>New user? create your account <a href="{% url 'registration' %}">here</a></p>
                    <p><a href="{% url 'password_reset' %}">I forgot my password</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}