{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block content %}

<div class='d-flex align-items-center justify-content-center'>

    <div class="col-xs-6 text-center">
        <div class="circle-shape">
            <h2 class="headers_all text-center">Log in</h2>
            <form class="box-content wrapper1  mx-auto text-center" method="POST">
                {% csrf_token %}
                {{ login_form | as_bootstrap}}
                <button type="submit" class="btn">Login</button>
                <p>New user? create your account <a href="{% url 'registration' %}">here</a></p>
                <p><a href="{% url 'password_reset' %}">I forgot my password</a></p>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock%}