{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}

{% block title %}Registration{% endblock %}

{% block content %}
<div class='bg-login-register'>
    <div class="d-flex row justify-content-center align-items-center text-center">
        <div class="col-xs-6">
            <div class="circle-shape">
                <h2>Register</h2>
                <form class="login-register register-f  mx-auto" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ registration_form | as_bootstrap }}
                    <button type="submit" class="btn">Register</button>
                    <p>Already a user? Login <a href="{% url 'login' %}">here</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}