{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}

{% block title %}{{user}}'s Profile{% endblock %}

{% block content %}



<div class="update-profile container-fluid detail-profile-wrapper bg-login-register">
    <div class="row">

        <div class="col content-area">
            <div class="container detail-profile mx-auto">
                <div class="header-content row">
                    <div class="col">
                        <h2>Edit your profile</h2>
                    </div>
                </div>

                <div class="row last-row d-flex align-items-center">
                    <div class="col-sm-12 col-lg-5 text-center profile-section ">
                        <div> <img class="rounded-circle" src="{{ MEDIA_URL }}{{ user.profile.profile_img }}">
                        </div>
                    </div>


                    <div class="col-sm-12 col-lg-7 profile-section">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | as_bootstrap }}
                            <div class="row justify-content-center justify-content-sm-end">
                                <button type="submit" class="col-8 col-sm-4 btn btn-warning buttons_all">Update</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>




{% endblock %}