{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}

{% block title %}{{user}}'s Profile{% endblock %}


{% block content %}
<h3>{{user_profile.username}}</h3>
<div class="profile" style="background-image: url('{{ MEDIA_URL }}{{ user_profile.profile.profile_img }}')">
</div>

<h3>Personal details</h3>
First Name: {{user_profile.first_name}}<br>
Last Name: {{user_profile.last_name}}<br>
Date of birth: {{user_profile.profile.dob}}

<h3>Contact details</h3>
Telephone: {{user_profile.profile.Telephone}}<br>
email: {{user_profile.email}}

<h3>Contact preferences</h3>
{% if user_profile.profile.contact_by_email and user_profile.profile.contact_by_phone %}
by email and Telephone
{% elif user_profile.profile.contact_by_email %}
by email
{% elif user_profile.profile.contact_by_phone %}
by telephone
{% else %}
Not specified
{% endif %}

<h3>About you</h3>
{{user_profile.profile.bio}}<br>


<a class="btn btn-success" href="{% url 'edit_user_profile' user_profile.id%}">Edit profile</a>
<br><br><br>
-----------------
<h3>Your membership</h3>
member since: {{user_profile.date_joined}}<br>
Current reading: xxxx<br>
Return_date: dd/mm/yyyy<br>



<h2>More</h2>
<ul>
    <li>8 Books rented</li>
    <li>In waiting list for 2 Books</li>
    <li>5 Favourites</li>
</ul>

<h2>Books read</h2>
<li>Book 1<a href="">Leave a review</a></li>
<li>Book 2<a href="">Leave a review</a></li>
<li>Book 3</li>
<li>Book 4</li>
<li>Book 5<a href="">Leave a review</a></li>

<h2>Books in waiting list (order by position in waiting list)</h2>
<li>Book 1 - you are next in the list<a href="">See waiting list</a></li>
<li>Book 2 - you are second in the list<a href="">See waiting list</a></li>

<h2>Favourites</h2>
<li>Book 1</li>
<li>Book 2</li>
</ul>
{% endblock %}