{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}

{% block title %}{{user}}'s Profile{% endblock %}


{% block content %}


<div class="container-fluid view-profile detail-profile-wrapper">
    <div class="row">
        <div class="col content-area">
            <div class="container detail-profile mx-auto">
                <div class="header-content row">
                    <div class="col">
                        <h2>username: {{user_profile.username}}</h2>
                    </div>
                </div>
                <div class="row first-row">
                    <div class="col-sm-12 col-lg-5 text-center profile-section">
                        <div> <img class="img-fluid rounded-circle"
                                src="{{ MEDIA_URL }}{{ user_profile.profile.profile_img }}">
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-7 profile-section">

                        <div class="row">
                            <div class="col text-right edit-profile">
                                <a class="btn btn-warning" href="{% url 'edit_user_profile' user_profile.id%}">Edit
                                    profile</a>
                            </div>
                        </div>

                        <h3>Membership details</h3>
                        <div class="row">
                            <dt class="col-xs-12 col-sm-5">Member since:</dt>
                            <dd class="col-xs-12 col-sm-7">{{user_profile.date_joined}}</dd>

                            <dt class="col-xs-12 col-sm-5">Current Book:</dt>
                            <dd class="col-xs-12 col-sm-7">xxxxxxxxx</dd>

                            <dt class="col-xs-12 col-sm-5">Return by:</dt>
                            <dd class="col-xs-12 col-sm-7">xx/xx/xxxx</dd>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="row second-row">
                    <div class="col-sm-12 col-md-5 profile-section">
                        <h3>Personal details</h3>
                        <div class="row">
                            <dt class="col-xs-12 col-sm-7">First Name:</dt>
                            <dd class="col-xs-12 col-sm-5 text-capitalize">{{user_profile.first_name}}</dd>

                            <dt class="col-xs-12 col-sm-7">Last Name:</dt>
                            <dd class="col-xs-12 col-sm-5 text-capitalize">{{user_profile.last_name}}</dd>

                            <dt class="col-xs-12 col-sm-7">Date of Birth:</dt>
                            <dd class="col-xs-12 col-sm-5">{{user_profile.dob}}</dd>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-7 profile-section">
                        <h3>Contact details</h3>
                        <div class="row">
                            <dt class="col-xs-12 col-sm-7">Email:</dt>
                            <dd class="col-xs-12 col-sm-5">{{user_profile.email}}</dd>

                            <dt class="col-xs-12 col-sm-7">Telephone:</dt>
                            <dd class="col-xs-12 col-sm-5">{{user_profile.Telephone}}</dd>

                            <dt class="col-xs-12 col-sm-7">Preferred method:</dt>
                            <dd class="col-xs-12 col-sm-5">
                                {% if user_profile.profile.contact_by_email and user_profile.profile.contact_by_phone %}
                                by email and Telephone
                                {% elif user_profile.profile.contact_by_email %}
                                by email
                                {% elif user_profile.profile.contact_by_phone %}
                                by telephone
                                {% else %}
                                Not specified
                                {% endif %}</dd>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row last-row justify-content-center">
                    <div class=" col-sm-12 col-md-4 col-lg-3 shape shadow1" data-toggle="modal"
                        data-target="#modalBooksRead">
                        <img src={% static 'images/project/store.png' %}>
                        <h3>See the books you read</h3></a>
                    </div>
                    <div class=" col-sm-12 col-md-4 col-lg-3 shape shadow2">
                        <img src={% static 'images/project/timer.png' %}>
                        <h3>See the waiting lists</h3>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 shape shadow3" data-toggle="modal"
                        data-target="#modalBooksFavourites">
                        <img src={% static 'images/project/book.png' %}>
                        <h3>See your favourites</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal Books Read-->
<div class="modal fade" id="modalBooksRead" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Books you have read</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <li>Book 1<a href="">Leave a review</a></li>
                <li>Book 2<a href="">Leave a review</a></li>
                <li>Book 3</li>
                <li>Book 4</li>
                <li>Book 5<a href="">Leave a review</a></li>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Favourites-->
<div class="modal fade" id="modalBooksFavourites" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">These are your favourites</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <li>Book 1</li>
                <li>Book 2</li>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}