{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}

{% block title %}{{user}}'s Profile{% endblock %}


{% block content %}


<div class="container-fluid view-profile detail-profile-wrapper">
    <div class="row">
        <div class="col content-area">
            <div class="container detail-profile mx-auto">
                <div class="header-content row">
                    <div class="col">
                        <h2>username: {{user_profile.username}}</h2>
                    </div>
                </div>
                <div class="row first-row align-items-center">
                    <div class="col-sm-12 col-lg-5 text-center profile-section">
                        <img class="rounded-circle" src="{{ MEDIA_URL }}{{ user_profile.profile.profile_img }}">
                        <img>
                    </div>
                    <div class="col-sm-12 col-lg-7 profile-section">

                        <div class="row">
                            <div class="col edit-profile">
                                <a class="btn btn-warning" href="{% url 'edit_user_profile' user_profile.id%}">Edit
                                    profile</a>
                            </div>
                        </div>

                        <h3>Membership details</h3>
                        <div class="row">
                            <dt class="col-xs-12 col-sm-7">Member since:</dt>
                            <dd class="col-xs-12 col-sm-5">{{user_profile.date_joined}}</dd>

                        </div>
                        <hr>
                        <h5>Currently reading</h5>
                        <div class="row">

                            {% for book_current in current_books %}
                            <dt class="col-xs-12">{{ book_current }} <small>(Return by:
                                    {{ book_current.return_date }})</small></dt>

                            <br><br>

                            {% endfor %}
                        </div>

                    </div>
                </div>

                <hr>
                <div class="row second-row">
                    <div class="col-sm-12 col-lg-5 profile-section">
                        <h3>Personal details</h3>
                        <div class="row">
                            <dt class="col-xs-12 col-sm-5">First Name:</dt>
                            <dd class="col-xs-12 col-sm-7 text-capitalize">{{user_profile.first_name}}</dd>

                            <dt class="col-xs-12 col-sm-5">Last Name:</dt>
                            <dd class="col-xs-12 col-sm-7 text-capitalize">{{user_profile.last_name}}</dd>

                            <dt class="col-xs-12 col-sm-5 ">DOB:</dt>
                            <dd class="col-xs-12 col-sm-7">{{user_profile.profile.dob}}</dd>
                        </div>

                    </div>
                    <div class="col-sm-12 col-lg-7 profile-section">
                        <h3>Contact details</h3>
                        <div class="row">
                            <dt class="col-xs-12 col-sm-5 ">Email:</dt>
                            <dd class="col-xs-12 col-sm-7 ">{{user_profile.email}}</dd>

                            <dt class="col-xs-12 col-sm-5">Telephone:</dt>
                            <dd class="col-xs-12 col-sm-7 ">{{user_profile.profile.telephone}}</dd>

                            <dt class="col-xs-12 col-sm-5">Preferred method:</dt>
                            <dd class="col-xs-12 col-sm-7">
                                {% if user_profile.profile.contact_by_email and user_profile.profile.contact_by_phone %}
                                by email and Telephone
                                {% elif user_profile.profile.contact_by_email %}
                                by email
                                {% elif user_profile.profile.contact_by_phone %}
                                by telephone
                                {% else %}
                                Not specified
                                {% endif %}</dd>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row last-row justify-content-center">
                    <div class=" col-sm-12 col-md-4 col-lg-3 shape shadow1" data-toggle="modal"
                        data-target="#modalBooksRead">
                        <img src={% static 'images/project/store.png' %}>
                        <h3>See the books you read</h3></a>
                    </div>
                    <div class=" col-sm-12 col-md-4 col-lg-3 shape shadow2" data-toggle="modal"
                        data-target="#modalBooksWaitingList">
                        <img src={% static 'images/project/timer.png' %}>
                        <h3>See the waiting lists</h3>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3 shape shadow3" data-toggle="modal"
                        data-target="#modalBooksFavourites">
                        <img src={% static 'images/project/book.png' %}>
                        <h3>See your favourites</h3>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>






<!-- Modal Books Read-->
<div class="modal fade" id="modalBooksRead" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Books you have read</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if user_profile.profile.read_books.all %}


                {% for read_book in user_profile.profile.read_books.all %}
                <div class="favourite-read-link row justify-content-center align-items-center">
                    <div class="col-3">
                        <img width="50" src="{{ MEDIA_URL }}{{ read_book.book_img }}">
                    </div>
                    <div class="col-8">
                        <a href="{% url 'detail' read_book.id %}">{{ read_book.title }}</a>
                        <a href="{% url 'add_review' read_book.id %}"> - Leave a review</a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="alert alert-info" role="alert">You haven't read any book yet</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Books Waiting List-->
<div class="modal fade" id="modalBooksWaitingList" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Books you are waiting for</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                {% if user.users %}
                {% for current_user in user.users.all %}
                <div class="favourite-read-link row justify-content-center align-items-center">
                    <div class="col-3">
                        <img width="50" src="{{ MEDIA_URL }}{{ current_user.wl_book.book_img }}">
                    </div>
                    <div class="col-8">
                        <a href="{% url 'detail' current_user.wl_book.id %}">{{current_user.wl_book.title}}</a>
                        <a href="{% url 'view_waiting_lists' current_user.wl_book.id %}"> - See waiting list</a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="alert alert-info" role="alert">You are not in waiting list for any book</p>
                {% endif %}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<!-- Modal Favourites-->
<div class="modal fade" id="modalBooksFavourites" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">These are your favourites</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if user_profile.profile.favourites.all%}

                {% for favourite in user_profile.profile.favourites.all %}
                <a href="{% url 'detail' favourite.id %}">
                    <div class="favourite-read-link row justify-content-center align-items-center">
                        <div class="col-4">
                            <img width="50" src="{{ MEDIA_URL }}{{ favourite.book_img }}">
                        </div>
                        <div class="col-6">
                            {{ favourite.title }}
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% else %}
                <p class="alert alert-info" role="alert">You haven't saved any book as favourite</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}