{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}


{% block title %}Cart{% endblock %}

{% block content %}


<div class="container-fluid view-profile detail-profile-wrapper">
    <div class="row">
        <div class="cart card container mx-auto">

            {% if total != 0 %}
            <div class="row row-header justify-content-between text-center d-none d-sm-flex">
                <div class="col-6 col-xl-6 text-left">Book</div>
                <div class="col-3 col-xl-3">Number of days</div>
                <div class="col-2 col-xl-2 text-right">Action</div>
            </div>
            <hr class=" d-none d-sm-flex">
            {% endif %}
            {% for book_item in cart_books %}
            <div class="row row-item justify-content-sm-between d-flex">
                <div class="col-12 col-sm-6 text-left">

                    <figure class="media row justify-content-start">
                        <div class="img-wrap col-xs-12"><img src="{{ MEDIA_URL }}{{ book_item.book.book_img }}"
                                class="img-thumbnail img-sm">
                        </div>
                        <figcaption class="media-body col-xs-12">
                            <h6 class="title text-truncate">{{ book_item.book.title }}</h6>
                            <dl class="dlist-inline small">
                                <dt>Price/day: </dt>
                                <dd>£{{ book_item.book.price_day }}</dd>
                            </dl>
                            <dl class="dlist-inline small">
                                <dt>Collect at: </dt>
                                <dd>{{ book_item.book.store }}</dd>
                            </dl>
                        </figcaption>
                    </figure>

                </div>
                <div class="col-6 col-sm-4">
                    <form method="POST" class="form-inline row justify-content-center"
                        action="{% url 'adjust_cart' book_item.id %}">
                        {% csrf_token %}
                        <div class='col-12 col-md-6 form-group'>
                            <div class="input-group">

                                <input name="days" type="number" min="10" max="365" class="form-control"
                                    value="{{book_item.days}}">

                            </div>
                        </div>

                        <button type="submit" class="col-12 col-md-6 btn btn-primary btn-sm">
                            Amend
                        </button>
                    </form>
                    <p class="price-book m-2 text-muted text-center">£{{book_item.book_price}}</p>

                </div>
                <div class="col-6 col-sm-2 text-right align-self-center">
                    <a href="{% url 'remove_from_cart' book_item.id %}" class="btn btn-outline-danger"><i
                            class="fa fa-trash"></i></a>

                </div>
            </div>
            <hr>
            {% endfor %}

            {% if total == 0 %}

            <h4 class="empty-cart text-center alert alert-info" role="alert">Your cart is empty</h4>
            {% else %}


            <div class="row row-header justify-content-center justify-content-sm-end ">
                <div class="col-12 col-md-3  text-center text-sm-right">

                    <h6 class="text-center"><b>{{ books_count }}</b> items in cart.</h6>
                </div>
                <div class="col-6 col-md-2 text-right">
                    <h3>Total:</h3>
                </div>
                <div class="col-6 col-md-2">
                    <h3>£{{ total }}</h3>
                </div>
            </div>

            {% endif %}

            <div class="row justify-content-center justify-content-md-end checkout-row text-center text-md-right">
                <div class="col-10">
                    <a class="btn btn-warning" href='{% url 'view_all_books' %}'>Find more books</a>

                    {% if total != 0 %}
                    <a class="btn btn-success" href='{% url 'checkout' %}'>Checkout</a>
                    {% endif %}


                </div>

            </div>
        </div>

    </div>
</div>






{% endblock%}