{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}


{% block title %}Cart{% endblock %}

{% block content %}

<!-- <div class="container-fluid view-profile detail-profile-wrapper">
    <div class="row">
        <div class="cart container mx-auto"> -->

<!-- <div class="header row align-items-center justify-content-between text-center"> -->
<!-- <div class="header row align-items-center">

                <div class="col-6">Book</div>
                <div class="col-4">Number of days</div>
                <div class="col-1 d-none d-md-inline">Price</div>
                <div class="col-1 d-none d-md-inline" ">Action</div>
            </div> -->

{% for book_item in cart_books %}

<!-- <div class=" row justify-content-between text-center list-cart align-items-center"> -->

<!-- <div class=" row list-cart align-items-center">
                        <div class="col-xs-5 col-sm-6 col-md-6">
                            <div class="container-fluid">
                                <figure class=" media row">
                                    <div class="img-wrap col-xs-12"><img
                                            src="{{ MEDIA_URL }}{{ book_item.book.book_img }}"
                                            class="img-thumbnail img-sm">
                                    </div>
                                    <figcaption class="media-body col-xs-12">
                                        <h6 class="title text-truncate">{{ book_item.book.title }}</h6>
                                        <dl class="dlist-inline small">
                                            <dt>Price/day: </dt>
                                            <dd>{{ book_item.book.price_day }}</dd>
                                        </dl>
                                        <dl class="dlist-inline small">
                                            <dt>Collect at: </dt>
                                            <dd>{{ book_item.book.store }}</dd>
                                        </dl>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> -->

<!-- <div class="col-xs-5 col-sm-6 col-md-4">
                            <form method="POST" class="form-inline" action="{% url 'adjust_cart' book_item.id %}">
                                {% csrf_token %}
                                <div class='form-group'>
                                    <div class="input-group">

                                        <input name="days" type="number" min="10" max="365" class="form-control"
                                            value="{{book_item.days}}">

                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">
                                    Amend
                                </button>
                            </form>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-1"> {{book_item.book_price}}</div>
                        <div class="col-xs-6 col-sm-6 col-md-1" "><a href="" class=" btn btn-outline-danger"><i
                                class="fa fa-trash"></i></a>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}

                    <div class="row">
                        <div class="col">
                            Items in cart: {{ books_count }}
                        </div>
                        <div class="col">
                            {{ total }}
                        </div>
                    </div>

                </div>


            </div>
        </div> -->




<div class="container-fluid view-profile detail-profile-wrapper">
    <div class="row">
        <div class="cart card container mx-auto">
            <table class="table table-hover shopping-cart-wrap">
                <thead class="text-muted">
                    <tr>
                        <th scope="col">Book</th>
                        <th scope="col" width="173" class="text-center">Number of days</th>
                        <th scope="col" width="100" class="text-center">Price</th>
                        <th scope="col" width="100" class="text-center">Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for book_item in cart_books %}
                    <tr>
                        <td>
                            <figure class="media row justify-content-start">
                                <div class="img-wrap col-xs-12 col-md-4"><img
                                        src="{{ MEDIA_URL }}{{ book_item.book.book_img }}" class="img-thumbnail img-sm">
                                </div>
                                <figcaption class="media-body col-xs-12 col-md-5">
                                    <h6 class="title text-truncate">{{ book_item.book.title }}</h6>
                                    <dl class="dlist-inline small">
                                        <dt>Price/day: </dt>
                                        <dd>{{ book_item.book.price_day }}</dd>
                                    </dl>
                                    <dl class="dlist-inline small">
                                        <dt>Collect at: </dt>
                                        <dd>{{ book_item.book.store }}</dd>
                                    </dl>
                                </figcaption>
                            </figure>
                        </td>
                        <td>
                            <form method="POST" class="form-inline" action="{% url 'adjust_cart' book_item.id %}">
                                {% csrf_token %}
                                <div class='form-group'>
                                    <div class="input-group">

                                        <input name="days" type="number" min="10" max="365" class="form-control"
                                            value="{{book_item.days}}">

                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">
                                    Amend
                                </button>
                            </form>
                        </td>

                        <td class="text-center">
                            <div class="price-book">
                                {{book_item.book_price}}
                            </div>
                        </td>
                        <td class="text-center">
                            <a href="" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            Items in cart: {{ books_count }}
                        </td>
                        <td>

                        </td>
                        <td>
                            total
                        </td>
                        <td class="text-right price-book">
                            {{ total }}
                        </td>

                    </tr>

                </tbody>

            </table>
        </div> <!-- card.// -->
    </div>
</div>
{% endblock%}