{% extends 'base.html' %}

{% load bootstrap_tags %}

{% load staticfiles %}

{% block title %}Add review{% endblock %}

{% block content %}


<div class="d-flex row justify-content-center align-items-center text-center">
    <div class="col-xs-6">
        <div class="circle-shape">
            <h2 class="headers_all">Add review</h2>
            <!-- <form class="review-form mx-auto" method="POST"> -->
            <form class="login-register review-form mx-auto" method="POST">

                {% csrf_token %}
                {{ review_form | as_bootstrap}}
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
</div>


{% endblock%}